<?php
    /**  @var \Magenest\Hotel\Block\Hotel\Index $block */
    $roomType = $block->getRoomType();
    $hotel = $block->getCity();
?>
<form method="post">
    <p>Room Type: <a><?= $roomType ?></a></p>
    <select name="location" id="location-city">
        <?php foreach ($hotel as $key) {
    ?>
            <option value="<?= $key->getLocation_city(); ?>"><?= $key->getLocation_city(); ?></option>
        <?php
} ?>
    </select>
</form>

<div id="modal-form" style="display: none;">
    <p class="data-hotel"></p>
</div>
<script type="text/x-magento-init">
    {
        "#location-city": {
            "Magenest_Hotel/js/HotelDetail": {}
        }
    }
</script>