<?php
    /* @var Manufacturer $block**/
    use Magenest\Manufacturer\Block\Product\Manufacturer;

    $productId = $block->getProductId();
    $productAttribute = $block->getAttribute();
    if (!$productAttribute) {
        $productAttribute = 'Undefined';
    }
?>
<h3>Manufacturer: <a class="manufacturer-name"><?= $productAttribute ?></a></h3>
<input class="it-product" type="text" style="display: none" value="<?= $productId ?>">

<script type="text/x-magento-init">
{
    ".manufacturer-name": { "Magenest_Manufacturer/js/manufacturer": {} }
}
</script>