<?php

/** @var ViewMovie $block */
use Magenest\Movie\Block\ViewMovie;

?>
<div>
    <h2>Movie Introduce</h2>
    <ul>
        <?php foreach ($block->getMovie() as $movie): ?>
            <li>
                Movie: <?php echo $movie->getMovie_name() ?>,
                Director: <?php echo $movie->getName() ?>
            </li>
        <?php endforeach; ?>
        <?php foreach ($block->getActor() as $actor): ?>
            <li>
                Actor: <?php echo $actor->getName()?>
            </li>
        <?php endforeach; ?>
    </ul>
</div>