<?php
    /** @var Index $block */
    use Magenest\Movie\Block\Adminhtml\Manager\Index;

    $count_all = $block->getAllModule();
    $count_custom = $block->getCustomModule();
    $customer = $block->getCustomer();
    $product = $block->getProduct();
    $order = $block->getOrder();
    $credit = $block->getCredit();
    $invoice = $block->getInvoice();
?>

<div>
<div class="dashboard-item" style="width: 40%; float: left;">
    <div class="dashboard-item-title">Count Module</div>
    <div class="dashboard-item-content">
        <table class="admin__table-primary dashboard-data" id="lastOrdersGrid_table">
            <tbody>
            <tr title="" class="">
                <td class=" col-customer ">Total Module</td>
                <td class=" col-total a-right last"><?php echo $count_all; ?></td>
            </tr>
            <tr title="" class="">
                <td class=" col-customer ">Custom Module</td>
                <td class=" col-total a-right last"><?php echo $count_custom; ?></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

    <div class="dashboard-item" style="width: 40%; float: right">
        <div class="dashboard-item-title">Count</div>
        <div class="dashboard-item-content">
            <table class="admin__table-primary dashboard-data" id="lastOrdersGrid_table">
                <tbody>
                <tr title="" class="even _clickable on-mouse">
                    <td class=" col-customer ">Customer</td>
                    <td class=" col-total a-right last"><?php echo $customer; ?></td>
                </tr>
                <tr title="" class="_clickable">
                    <td class=" col-customer ">Product</td>
                    <td class=" col-total a-right last"><?php echo $product; ?></td>
                </tr>
                <tr title="" class="_clickable">
                    <td class=" col-customer ">Order</td>
                    <td class=" col-total a-right last"><?php echo $order; ?></td>
                </tr>
                <tr title="" class="_clickable">
                    <td class=" col-customer ">Invoice</td>
                    <td class=" col-total a-right last"><?php echo $invoice; ?></td>
                </tr>
                <tr title="" class="_clickable">
                    <td class=" col-customer ">Credit Memos</td>
                    <td class=" col-total a-right last"><?php echo $credit; ?></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>