<?php
    /** @var Index $block */
    use Magenest\Manufacturer\Block\Adminhtml\Manufacturer\Index;

    $manufacturer = $block->getManufacturer();
    $a = $block->getFormKey();
?>
<div class="form">
    <form action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>"
          method="post" id="contact-form" style="float: left;">
        <input name="form_key" type="hidden" value="<?php echo $block->getFormKey() ?>">
        <fieldset class="fieldset">
            <div class="field name required" style="width: 600px;">
                <label class="label" for="name"><span>Manufacturer Name: </span></label>
                <input name="name" id="name" title="Manufacturer Name"
                       value="" class="input-text" type="text" data-validate="{required:true, 'validate-name':true}"/>
            </div>
            <div class="field name required" style="width: 600px;">
                <label class="label" for="name"><span>Enabled: </span></label>
                <input name="enabled" id="name" title="Manufacturer Enabled"
                       value="" class="input-text" type="text"/>
            </div>
            <div class="field name required" style="width: 600px;">
                <label class="label" for="name"><span>Address Street: </span></label>
                <input name="address_street" id="name" title="Street Address"
                       value="" class="input-text" type="text">
            </div>
            <div class="field name required" style="width: 600px;">
                <label class="label" for="name"><span>City: </span></label>
                <input name="address_city" id="name" title="Address Aity"
                       value="" class="input-text" type="text" />
            </div>
            <div class="field name required" style="width: 600px;">
                <label class="label" for="name"><span>Country: </span></label>
                <input name="address_country" id="name" title="Country"
                       value="" class="input-text" type="text" />
            </div>
            <div class="field name required" style="width: 600px;">
                <label class="label" for="name"><span>Contact Name: </span></label>
                <input name="contact_name" id="name" title="Contact Name"
                       value="" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
            <div class="field name required" style="width: 600px;">
                <label class="label" for="name"><span>Contact Phone: </span></label>
                <input name="contact_phone" id="name" title="Contact Phone"
                       value="" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
            <?php echo $block->getChildHtml('form.additional.info'); ?>
        </fieldset>

        <div class="actions-toolbar">
            <div class="primary"><button type="submit" class="action login primary" id="send2"><span><?= $block->escapeHtml(__('Save')) ?></span></button></div>
        </div>
    </form>

</div>
<div class="admin__data-grid-wrap" style="width: 40%; float: right;">
    <?php foreach ($manufacturer as $data) {
    ?>
    <div class="dashboard-item-title"><?= $data['name'] ?></div>
    <div class="dashboard-item-content">
        <table class="admin__table-primary dashboard-data" id="lastOrdersGrid_table">
            <tbody>
            <tr title="" class="">
                <td class=" col-customer ">Enableld</td>
                <?php $var = $data['enabled'] ? 'Yes' : 'No'?>
                <td class=" col-total a-right last"><?= $var ?></td>
            </tr>
            <tr title="" class="">
                <td class=" col-customer ">Street Address</td>
                <td class=" col-total a-right last"><?= $data['address_street'] ?></td>
            </tr>
            <tr title="" class="">
                <td class=" col-customer ">City</td>
                <td class=" col-total a-right last"><?= $data['address_city'] ?></td>
            </tr>
            <tr title="" class="">
                <td class=" col-customer ">Country</td>
                <td class=" col-total a-right last"><?= $data['address_country'] ?></td>
            </tr>
            <tr title="" class="">
                <td class=" col-customer ">Contact Name</td>
                <td class=" col-total a-right last"><?= $data['contact_name'] ?></td>
            </tr>
            <tr title="" class="">
                <td class=" col-customer ">Contact Telephone</td>
                <td class=" col-total a-right last"><?= $data['contact_phone'] ?></td>
            </tr>
            </tbody>
        </table>
    </div>
    <?php
}?>
</div>