<button class="open_modal" type="button">Open Modal</button>
<div id="popup-modal" style="display:none;">
    <h1> Hello Word </h1>
</div>

<button class="core_login" type="button">Open Magento Login Modal</button>
<div id="core-login" style="display:none;"></div>

<button class="custom_login" type="button">Open Custom Login Modal</button>
<form id="customer-login" method="post" action="" style="display:none;">
    <div class="field email required">
        <label class="label" for="email"><span>Email</span></label>
        <div class="control">
            <input name="login[username]" value="" autocomplete="off" id="email" type="email" class="input-text" title="Email" data-validate="{required:true, 'validate-email':true}" aria-required="true">
        </div>
    </div>
    <div class="field password required">
        <label for="pass" class="label"><span>Password</span></label>
        <div class="control">
            <input name="login[password]" type="password" autocomplete="off" class="input-text" id="pass" title="Password" data-validate="{required:true}" aria-required="true">
        </div>
    </div>
    <div class="actions-toolbar">
        <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span>Sign In</span></button></div>
        <div class="secondary"><a class="action remind" href="#"><span>Forgot Your Password?</span></a></div>
    </div>
</form>
<script type="text/x-magento-init">
{
    ".open_modal":
        { "Magenest_Popup/js/add_popup": {}},
    ".custom_login":
        { "Magenest_Popup/js/customer_login": {}},
    ".core_login":
        { "Magenest_Popup/js/core_login": {}}
}
</script>