<h4>Input Customer Id</h4>
<input type="text" class="customer_id" style="width: 200px;">
<button type="button" class="submit-customer-id">Submit</button>
<div id="popup-modal" style="display:none;">
</div>
<script type="text/x-magento-init">
    {
        ".submit-customer-id": { "Magenest_Intray/js/alert_customer": {} }
    }
</script>